In [1]:
import numpy as np 
import pandas as pd

In [2]:
import seaborn as sns 
df=sns.load_dataset("penguins")

In [3]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

You import necessary libraries (numpy, pandas, seaborn).

Load the penguins dataset from seaborn.

df.head() displays the first 5 rows of the dataframe.

In [4]:
df.isnull

<bound method DataFrame.isnull of     species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen            39.1           18.7              181.0
1    Adelie  Torgersen            39.5           17.4              186.0
2    Adelie  Torgersen            40.3           18.0              195.0
3    Adelie  Torgersen             NaN            NaN                NaN
4    Adelie  Torgersen            36.7           19.3              193.0
..      ...        ...             ...            ...                ...
339  Gentoo     Biscoe             NaN            NaN                NaN
340  Gentoo     Biscoe            46.8           14.3              215.0
341  Gentoo     Biscoe            50.4           15.7              222.0
342  Gentoo     Biscoe            45.2           14.8              212.0
343  Gentoo     Biscoe            49.9           16.1              213.0

     body_mass_g     sex
0         3750.0    Male
1         3800.0  Female
2         3250.0  Female
3            NaN     NaN
4         3450.0  Female
..           ...     ...
339          NaN     NaN
340       4850.0  Female
341       5750.0    Male
342       5200.0  Female
343       5400.0    Male

[344 rows x 7 columns]>

In [7]:
df.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

Counts missing (NaN) values in each column.

Output shows that bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g have 2 missing values each, and sex has 11 missing values.

In [8]:
print(df.isnull().values.any())

True

Returns True since there are missing values in the dataset.

In [9]:
df1 = df.dropna()

In [10]:
df1.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [11]:
print(df1.isnull().values.any())

False

Drops all rows with any missing values.

Then you check again, and all missing values are gone (0 for all columns).

print() confirms no nulls remain.

In [27]:
df1.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [13]:
df1.duplicated().sum()

np.int64(0)

Lists all columns.

Checks for duplicate rows; none found (0 duplicates).

In [30]:
from sklearn.preprocessing import LabelEncoder

In [32]:
df1

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,2,39.1,18.7,181.0,3750.0,1
1,Adelie,2,39.5,17.4,186.0,3800.0,0
2,Adelie,2,40.3,18.0,195.0,3250.0,0
4,Adelie,2,36.7,19.3,193.0,3450.0,0
5,Adelie,2,39.3,20.6,190.0,3650.0,1
...,...,...,...,...,...,...,...
338,Gentoo,0,47.2,13.7,214.0,4925.0,0
340,Gentoo,0,46.8,14.3,215.0,4850.0,0
341,Gentoo,0,50.4,15.7,222.0,5750.0,1
342,Gentoo,0,45.2,14.8,212.0,5200.0,0
343,Gentoo,0,49.9,16.1,213.0,5400.0,1

In [34]:
le = LabelEncoder()

In [36]:
df1.loc[:, 'island'] = le.fit_transform(df1['island'])
df1.loc[:, 'sex'] = le.fit_transform(df1['sex'])
df1.loc[:, 'species'] = le.fit_transform(df1['species'])

Encode categorical text columns (island, sex, species) into numeric values using LabelEncoder.

This is necessary because ML models expect numbers, not strings.

In [42]:
x=df1.drop('species',axis=1)
x.head()

   island  bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g  sex
0       2            39.1           18.7              181.0       3750.0    1
1       2            39.5           17.4              186.0       3800.0    0
2       2            40.3           18.0              195.0       3250.0    0
4       2            36.7           19.3              193.0       3450.0    0
5       2            39.3           20.6              190.0       3650.0    1

In [43]:
y=df1['species']
y[:5]

0    0
1    0
2    0
4    0
5    0
Name: species, dtype: int64

x holds all features (input variables).

y is the target variable (species to predict).

In [37]:
df1

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,2,39.1,18.7,181.0,3750.0,1
1,0,2,39.5,17.4,186.0,3800.0,0
2,0,2,40.3,18.0,195.0,3250.0,0
4,0,2,36.7,19.3,193.0,3450.0,0
5,0,2,39.3,20.6,190.0,3650.0,1
...,...,...,...,...,...,...,...
338,2,0,47.2,13.7,214.0,4925.0,0
340,2,0,46.8,14.3,215.0,4850.0,0
341,2,0,50.4,15.7,222.0,5750.0,1
342,2,0,45.2,14.8,212.0,5200.0,0
343,2,0,49.9,16.1,213.0,5400.0,1

In [48]:
df1['species'].value_counts()

species
0    146
2    119
1     68
Name: count, dtype: int64

In [49]:
df1['island'].value_counts()

island
0    163
1    123
2     47
Name: count, dtype: int64

In [50]:
df1['sex'].value_counts()

sex
1    168
0    165
Name: count, dtype: int64

In [45]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=55)

Split the data into training (75%) and testing (25%) sets.

random_state=55 ensures reproducibility.

Print shapes confirm sizes.

In [46]:
print(x.shape)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(333, 6)
(249, 6)
(84, 6)
(249,)
(84,)

In [47]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report

models = {
    'Logistic Regression': LogisticRegression(max_iter=1000),
    'K-Nearest Neighbors': KNeighborsClassifier(),
    'Decision Tree': DecisionTreeClassifier(random_state=55),
    'Random Forest': RandomForestClassifier(random_state=55),
    'Support Vector Machine': SVC(),
    'Gradient Boosting': GradientBoostingClassifier(random_state=55)
}

for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    print(f"---{name}---")
    print("Accuracy:", accuracy_score(y_test, y_pred))
    print(classification_report(y_test, y_pred))

---Logistic Regression---
Accuracy: 0.9880952380952381
              precision    recall  f1-score   support

           0       1.00      0.98      0.99        43
           1       0.92      1.00      0.96        12
           2       1.00      1.00      1.00        29

    accuracy                           0.99        84
   macro avg       0.97      0.99      0.98        84
weighted avg       0.99      0.99      0.99        84

---K-Nearest Neighbors---
Accuracy: 0.75
              precision    recall  f1-score   support

           0       0.73      0.86      0.79        43
           1       0.40      0.33      0.36        12
           2       0.96      0.76      0.85        29

    accuracy                           0.75        84
   macro avg       0.69      0.65      0.67        84
weighted avg       0.76      0.75      0.75        84

---Decision Tree---
Accuracy: 0.9642857142857143
              precision    recall  f1-score   support

           0       0.98      0.95      0.96        43
           1       0.85      0.92      0.88        12
           2       1.00      1.00      1.00        29

    accuracy                           0.96        84
   macro avg       0.94      0.96      0.95        84
weighted avg       0.97      0.96      0.96        84

---Random Forest---
Accuracy: 0.9880952380952381
              precision    recall  f1-score   support

           0       1.00      0.98      0.99        43
           1       0.92      1.00      0.96        12
           2       1.00      1.00      1.00        29

    accuracy                           0.99        84
   macro avg       0.97      0.99      0.98        84
weighted avg       0.99      0.99      0.99        84

---Support Vector Machine---
Accuracy: 0.75
              precision    recall  f1-score   support

           0       0.69      0.93      0.79        43
           1       0.00      0.00      0.00        12
           2       0.88      0.79      0.84        29

    accuracy                           0.75        84
   macro avg       0.52      0.57      0.54        84
weighted avg       0.66      0.75      0.69        84

---Gradient Boosting---
Accuracy: 0.9761904761904762
              precision    recall  f1-score   support

           0       1.00      0.95      0.98        43
           1       0.86      1.00      0.92        12
           2       1.00      1.00      1.00        29

    accuracy                           0.98        84
   macro avg       0.95      0.98      0.97        84
weighted avg       0.98      0.98      0.98        84

C:\Users\ADMIN\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 1000 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=1000).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ADMIN\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\metrics\_classification.py:1731: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
C:\Users\ADMIN\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\metrics\_classification.py:1731: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
C:\Users\ADMIN\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\metrics\_classification.py:1731: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])

Import various classification algorithms.

Import accuracy and classification report metrics.

Define models with some parameters (max_iter for Logistic Regression).

random_state for reproducibility.

For each model:

Train on training data.

Predict on test data.

Print accuracy and detailed classification report (precision, recall, f1-score for each class).